@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");

/* Variables */
:root {
  --bg-color: #181d25;
  --text-color: #ffffff;
  --main-color: #0c9;
}
/* End Variables */

/* Main */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.section {
  width: 100%;
  padding: 20px;
}
.section .section-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.9;
}
/* End Main */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End Scroll Bar */

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: var(--main-color) !important;
}
@media (max-width: 700px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
/* End Swiper */
